/*
Screens
*/
.screen{
    background-color:#ccf;
    height: 100%;
    padding: 15px 10px 0 10px;
}

#lobby-screen , #game-screen{
    display: none;
    display: none;
}



#buttons-row {
    margin: 25px;
}

.btn {
    margin: 10px;
    display: inline-block;
    border: 1px solid;
    padding: 10px;
    background: #aaf;
}

.btn-disabled {
    background: #ccc;
    border: 1px solid #aaa;
    color: #aaa;
}

#debugging {
    float:right;
    padding: 5px;
    font-size: x-small;
    background-color: rgba(95, 95, 95, 0.3);
}

#game-url {
    display: inline;
    color: rgb(58, 58, 128);
}

.teams-label {
    font-size: larger;
    margin: 5px;
}

td {

    width: 200px;
    height: 200px;
    border: 2px solid;
    vertical-align: top;

}
td span {
    color: #777;
    font-size: small;
    padding: 5px;
}

#Aencoder, #Bencoder {
    height: 50px;
}