#buttons-row {
    margin: 25px;
}

.btn {
    margin: 10px;
    display: inline;
    border: 1px solid;
    padding: 10px;
    background: #aaf;
}

#debugging {
    float:right;
    padding: 5px;
    font-size: x-small;
    background-color: rgba(95, 95, 95, 0.3);
}

#game-url {
    display: inline;
    color: rgb(58, 58, 128);
}

.teams-label {
    font-size: larger;
    margin: 5px;
}

td {

    width: 200px;
    height: 200px;
    border: 2px solid;
    vertical-align: top;

}